body {
	color:whitesmoke;
	color: #604716;

	background-color: palegoldenrod;
	font-size: 20px;
}

a {
	color:royalblue;
}

h1 {
	Font-family:Lucida Bright;
	border-width: 9px;
    border-style: dotted;
    text-align: dashed;
    padding: 0.2em;
    
}

p {
	Font-family:Candara;
	font-size:1.5em;
	font-size: 30px;*/
}

div#container {
	margin:0 auto;
	width:900px;
}